doctype html
html
  head
    title= title
    script(src="/lib/jquery/dist/jquery.min.js")
    script(src="/lib/bootstrap/dist/js/bootstrap.min.js")
    script(src="/javascripts/main.js")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.min.css')
  body
    .row
      .col-md-12
        h1.text-center= title
    .row
      .col-md-12
        block content
